<h1>Plays#new</h1>
<h2>Create a new user</h2>
<%= form_for @play do |f| %>
	<%= f.label :username %>
	<%= f.text_field :username %>
	<br />
<% @questions.each do |a| %>
<div class = "part" style="border:solid">
<img src="<%=a.image%>" style="width:60px;height:auto">
<br />
<%= f.radio_button a.a1s, a.a1 %>
<br />

<%= f.radio_button a.a2s, a.a2 %>
<br />		

<%= f.radio_button a.a3s, a.a3 %>
<br />	
<%= f.radio_button a.a4s, a.a4 %>
<br />	
</div>
<% end %>
	<%= f.submit 'Save' %>
<% end %>
